<section>
  <h1>Lista de Projetos</h1>
  <% @projects.each do |project| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> <%= link_to project.name, project %> </h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Categoria:</dt>
                <dd><%= project.category.name %></dd>
                <dt>Localização:</dt>
                <dd><%= project.location %></dd>
                <dt>Estágio:</dt>
                <dd><%= project.stage %></dd>
          </dl>
       </div>
        
    </div>
  <% end %>
</section>
