<section>
  <h1>Lista de Projetos</h1>
  <% @projects.each do |project| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> <%= link_to project.name, project %> </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <%= project.category.name %>
          <div class="row">
            <%= project.location %>
          </div>
          <div class="row">
            <%= project.stage %>
          </div>
          </div>
        </div>
    </div>
  <% end %>
</section>
